# Dependencies
node_modules/

# Build files
dist/

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build files
*.tgz
